<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planets App</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <%- include('./partials/_nav') %>
    <% if (user) { %>
      <h1>Welcome to the Planets app, <%= user.username %>!</h1>
    <% } else { %>
      <h1>Welcome to the app, guest.</h1>
    <% } %>
    <p>An app for selecting your favourite planets.</p>
    <a class="btn" href="/planets">Browse Planets</a>
    <p>
      <a href="/auth/sign-out">Sign out</a> or <a href="/auth/sign-in">sign in</a>
    </p>
    <a class="link" href="/auth/sign-up">Sign up</a>
    <p><a href="/vip-lounge">Get into the VIP Users Only lounge!</a></p>
</body>
</html>