<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Page not found</title>
</head>
<body>
    <h1>Uh oh!</h1>
    <h2>We couldn't find that page!</h2>
    <img class="planet-pic1" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMFAt5tLV6XiBm9vRbgV1qMk7WO7Z67nVlJg&s" alt="Sad planet"/>
    <a href="/planets/">Browse Planets</a>
</body>
</html>