<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planets Index</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <%- include('../partials/_nav') %>
    <h1>All Planets</h1>
    <ul>
        <% planets.forEach(planet => { %>
         <li>
            <a href="/planets/<%=planet._id %>"> <%= planet.name %></a>
        </li>
        <% }) %>
    </ul>
    <a href="/planets/new">Add New Planet</a>
    <a href="/auth/sign-in">sign in</a>
</body>
</html>